.myself{margin-left: auto;
    margin-right: auto;
    width: 60em;
    text-align: center;
   }

img{
	height: 20%;
	width: 20%;
	border-radius: 40%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hobbie{
	margin-left: auto;
    margin-right: auto;
    width: 60em
}

h3 {
	 text-indent: 50px;
}




