th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {background-color: #f2f2f2}

th, td,table {
	border-right: 0px;
	border-left: 0px;
	border-top: 0px ;
	border-radius: 0px;
	border-spacing: 0px;
	border-bottom: 0px;
    padding: 15px;
    text-align: center;
}

table{
	align-self: center;
	alignment-baseline: center;
}

tr:hover {background-color: #f5f5f5}

th {
    background-color: #86df86 ;
    color: white;
    font-size: 20px;
}
.term{
	width: 100%;
	background-size: 100%;
	color: #33cc33; 
	font: fantasy;
	font-style: bold;
	background-color: #bbff99;



}

h1 {
	color:#008000;
	font-style: italic;
	text-align: center;
	font-size: 35px;

}

h2 {
	color: #00b300;
	text-align: center;
	font-size: 30px;
}

#highschool, #college {
	font-size: 20px;
	color:black;
	text-align: center;
}

