

h1 {
	color:#008000;
	font-style: italic;
	text-align: center;
	font-size: 35px;

}

h2 {

	color: #00b300;
	text-align: center;
	font-size: 30px;
	line-height: 2.1;
}

h3{
	color:#408000;
	line-height: 1.0;
	text-align: center;
}

h4{
	text-align:center;
	background-size: 70%;
	line-height: 0.4;
}

#date {
	color:#c2d6d6;
	font-style: italic;
	line-height: 0.2;

}

ul li {
	text-align: center;
	
}